<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante de Cátedra</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span> Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2023-2</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante de Cátedra</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2023-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante en aula</span>
    <span>IIC1005 - Computación: Ciencia y Tecnología del Mundo Digital</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2023-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante <i>Coach</i> de equipo</span>
    <span>IIC2154 - Proyecto de Especialidad</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2022-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante en aula</span>
    <span>IIC1005 - Computación: Ciencia y Tecnología del Mundo Digital</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2022-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante de Cátedra</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2021-2</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante de Cátedra</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2021-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante corrector</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2019-2</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante corrector</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2019-1</span>
  </p>
</div>

<hr />

<div class="grid grid-cols-2 break-inside-avoid">
  <p class="flex flex-col">
    <span class="font-bold">Ayudante corrector</span>
    <span>IIC1103 - Introducción a la Programación</span>
    <span>Departamento de Ciencia de la Computación</span>
  </p>
  <p class="flex flex-col font-bold text-right">
    <span>Pontificia Universidad Católica de Chile</span>
    <span>Escuela de Ingeniería</span>
    <span>2018-1</span>
  </p>
</div>
