<footer
  class="container mx-auto h-28 mt-4 flex items-center justify-between print:hidden"
>
  <span>© 2024 NachoJuanDev</span>
  <div class="flex gap-3 sm:gap-10">
    <a href="mailto:jisalas1@uc.cl">Contacto</a>
    <a target="_blank" href="https://github.com/NachoJuanDev">GitHub</a>
  </div>
</footer>
