<header class="print:hidden">
  <nav class="container mx-auto flex h-32 items-center justify-between">
    <h2>NachoJuanDev</h2>
    <div class="flex gap-10">
      <a class="text-lg" target="_blank" href="https://blog.nachojuan.dev">Blog</a>
      <a class="text-lg" target="_blank" href="https://github.com/NachoJuanDev">Github</a>
    </div>
  </nav>
</header>
