<header class="print:hidden">
  <nav class="container mx-auto flex h-24 items-center justify-between">
    <h2 class="text-xl sm:text-2xl">NachoJuanDev</h2>
    <div class="flex gap-3 sm:gap-10 sm:text-lg">
      <button id="print">Imprimir</button>
      <a target="_blank" href="https://blog.nachojuan.dev">Blog</a>
      <a target="_blank" href="https://github.com/NachoJuanDev">GitHub</a>
    </div>
  </nav>
</header>

<script>
  document.getElementById('print')?.addEventListener('click', function () {
    window.print()
  })
</script>
