<header>
  <nav class="container mx-auto flex h-32 items-center justify-between">
    <img src="/minato.webp" class="w-20 rounded-md" />
    <div class="flex gap-10">
      <a class="text-lg" target="_blank" href="https://blog.nachojuan.dev">Blog</a>
      <a class="text-lg" target="_blank" href="https://github.com/NachoJuanDev">Github</a>
    </div>
  </nav>
</header>
