---
import Title from '@/ui/Title.astro'
---

<section>
  <Title text="Tecnologías" />
  <ul>
    <li>
      <b>Lenguajes:</b>
      <code>JavaScript/TypeScript</code>, <code>Python</code>,
      <code>Bash</code>, <code>R</code>.
    </li>
    <li><b>Frameworks:</b></li>
    <ul class="list-[circle] indent-6">
      <li>
        <b>Frontend:</b>
        <code>React.js</code>, <code>Next.js</code>,
        <code>Astro</code>, <code>Vue.js</code>, <code>Nuxt.js</code>.
      </li>
      <li>
        <b>Backend:</b>
        <code>Express.js</code>, <code>Nest.js</code>,
        <code>Apollo Graphql</code>.
      </li>
      <li><b>Mobile:</b> <code>React Native</code>.</li>
      <li>
        <b>Otros:</b>
        <code>Tailwindcss</code>,
        <code>Zustand</code>, <code>Prisma</code>, <code>Sequelize</code>.
      </li>
    </ul>
    <li><b>Contenedores:</b> <code>Docker</code>.</li>
    <li><b>Cloud:</b> <code>AWS</code>, <code>Firebase</code>.</li>
    <li>
      <b>DB:</b>
      <code>PostgreSQL</code>, <code>MySQL</code>, <code>Firestore</code>.
    </li>
    <li><b>Otros:</b> <code>Linux</code>.</li>
  </ul>
</section>
