---
import Title from '@/ui/Title.astro'
---

<section>
  <Title text="Voluntariados" />

  <div class="grid grid-cols-2">
    <p class="flex flex-col">
      <span class="font-bold">Coordinador General</span>
      <span>
        <a
          class="font-semibold"
          href="https://www.cai.cl/iniciativas-estudiantiles/cpu"
          target="_blank"
          >CPU
        </a>
      </span>
      <span>
        Proyecto social enfocado en la disminución de la brecha tecnológica
        mediante la donación de computadores reacondicionados.
      </span>
    </p>
    <p class="flex flex-col font-bold text-right">
      <span>Pontificia Universidad Católica de Chile</span>
      <span>Escuela de Ingeniería</span>
      <span>Junio 2019 - Febrero 2021</span>
    </p>
  </div>

  <hr />

  <div class="grid grid-cols-2">
    <p class="flex flex-col">
      <span class="font-bold">Jefe de Hardware y Software</span>
      <span>
        <a
          class="font-semibold"
          href="https://www.cai.cl/iniciativas-estudiantiles/cpu"
          target="_blank"
          >CPU
        </a>
      </span>
      <span>
        Proyecto social enfocado en la disminución de la brecha tecnológica
        mediante la donación de computadores reacondicionados.
      </span>
    </p>
    <p class="flex flex-col font-bold text-right">
      <span>Pontificia Universidad Católica de Chile</span>
      <span>Escuela de Ingeniería</span>
      <span>Enero 2018 - Junio 2019</span>
    </p>
  </div>

  <hr />

  <div class="grid grid-cols-2">
    <p class="flex flex-col">
      <span class="font-bold">Técnico</span>
      <span>
        <a
          class="font-semibold"
          href="https://www.cai.cl/iniciativas-estudiantiles/cpu"
          target="_blank"
          >CPU
        </a>
      </span>
      <span>
        Proyecto social enfocado en la disminución de la brecha tecnológica
        mediante la donación de computadores reacondicionados.
      </span>
    </p>
    <p class="flex flex-col font-bold text-right">
      <span>Pontificia Universidad Católica de Chile</span>
      <span>Escuela de Ingeniería</span>
      <span>Junio 2017 - Diciembre 2017</span>
    </p>
  </div>
</section>
