---
import Title from '@/ui/Title.astro'
---

<section>
  <Title text="Whoami" />
  <p>
    Desarrollador Fullstack con m치s de 5 a침os de experiencia en desarrollo de
    proyectos basados en <code>JavaScript</code>. Apasionado por la tecnolog칤a y
    con ganas de seguir aprendiendo.
  </p>
  <p>
    Me considero una persona proactiva, responsable y abierto a la conversaci칩n.
    Me gusta trabajar en equipo, colaborar para conseguir el bien com칰n y
    resolver las necesidades del usuario.
  </p>
  <p>
    Me gusta ver Anime y el deporte, me gusta trastear con la tecnolog칤a y
    experimentar con proyectos nuevos. Tengo un perro llamado Kenai 游냤.
  </p>

  <h3 class="mt-4">Habilidades blandas</h3>
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <ul>
      <li>Pensamiento an치litico y cr칤tico</li>
      <li>Resoluci칩n de problemas</li>
      <li>Perseverancia</li>
    </ul>
    <ul>
      <li>Inteligencia emocional</li>
      <li>Liderazgo</li>
      <li>Trabajo en equipo</li>
    </ul>
  </div>
</section>
