---
import Pudux from '@/components/Experience/Pudux.astro'
import Title from '@/ui/Title.astro'
---

<section>
  <Title text="Experiencia" />

  <div class="flex flex-col gap-5">
    <Pudux />
  </div>
</section>
