@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100, 'YTLC' 500;

  @apply px-5;
  @apply bg-ligth dark:bg-dark text-black dark:text-white;
  @apply print:text-sm;
}

h1 {
  @apply text-3xl font-bold py-5 print:py-4 break-after-avoid;
}

h2 {
  @apply text-2xl font-bold py-3 print:py-2 break-after-avoid;
}

h3 {
  @apply text-xl font-semibold py-1 print:py-0 break-after-avoid;
}

hr {
  @apply border-b-[1] border-gray-600 dark:border-gray-400  my-5;
}

section {
  @apply mb-6;
}
