---
interface Props {
  title?: string
  description?: string
}

import '../global.css'
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'

const {
  title = 'Portfolio - NachoJuanDev',
  description = 'Desarrollador Fullstack',
} = Astro.props
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
