---
interface Props {
  title?: string
  description?: string
}

import BaseHead from '@/components/BaseHead.astro'
import '../global.css'

const {
  title = 'Portfolio - NachoJuan',
  description = 'Desarrollador Fullstack',
} = Astro.props
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <main class="container mx-auto">
      <slot />
    </main>
  </body>
</html>
